# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Credentials
*.json
credentials/
secrets/

# Data
*.csv
*.parquet

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# SQL Server
*.bak

# Temporary
tmp/
temp/